body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 155px;
}
.text-primary{
    color: #FD6E0A;
}
.nav-title{
    color: #181818;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.banner{
    padding: 25px 25px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;
}
.banner-content{
    align-items: center;
    max-width: 585px;
    max-height: 60px;
}
.banner-content p{
    line-height: 30px;
}
    
.banner-gretting{
    font-size: 35px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 60px;
    font-weight: 700;
    margin-top: 5px;
    color: #181818;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
}
/* .banner-developer{
    transform: rotate(-90deg);
    color: #18181826;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 33px;
} */

main{
    max-width: 1140px;
    margin:0 auto;
}
main section{
    margin-top: 130px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    text-align: center;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-inf{
    margin-right: 50px;
    text-align: center;
    
}
.inf-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 30px;
}
.info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}
#What-i-do-description{
    padding: 30px 150px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.skill{
    padding: 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


.section-title{}
.resume-container{
    display: flex;
    
}
.resume-column{}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}